.presentation{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.avatar-greeting__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 90%;
}

.Avatar{
    height: 90%;
    width: auto;
    border: 1px solid #4e7cfc;
    border-radius: 50%;
}

.greeting{
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #4e7cfc;
    border-radius: 50px;
    margin-top: 100px;
}

.greeting h1{
    font-size: 32px;
    padding-left: 20px;
    font-weight: 700;
}

.greeting__emoji {
    height: 50%;
    padding-right: 20px;
    animation: wave 2s linear;
    animation-delay: 4s;
}

@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.description{
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description h3{
    font-size: 26px;
    padding: 0px 12px;
    font-weight: 500;
}

.description p{
    font-size: 18px;
    font-weight: 300;
    padding: 0px 12px;
}

.menu__container{
    width: 90%;
    height: 20%;
}

.buttons__container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.socialmedia__icon{
    height: 40px;
    filter: invert(30%);
    cursor: pointer;
    margin: 0px 12px;
}

.socialmedia__icon:hover{
    transition: 0.3s ease;
    filter: invert(100%);
}