.presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar-greeting__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 80%;
}

.Avatar{
    height: 90%;
    width: auto;
    border: 1px solid #4e7cfc;
    border-radius: 50%;
}

.greeting{
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #4e7cfc;
    border-radius: 50px;
    margin-top: 100px;
}

.greeting h1{
    font-size: 32px;
    padding-left: 20px;
    font-weight: 700;
}

.greeting img{
    height: 50%;
    padding-right: 20px;
}

.description{
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
}

.description p{
    font-size: 18px;
}

.menu__container{
    width: 70%;
    height: 20%;
}

.buttons__container{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.socialmedia__icon{
    height: 40px;
    filter: invert(10%);
    cursor: pointer;
    margin: 0px 12px;
}

.socialmedia__icon:hover{
    transition: 0.3s ease;
    filter: invert(50%);
}