body{
    background-color: #010114;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.presentation-about__container{
    height: 97vh;
    width: 90vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about::-webkit-scrollbar{
    width: 0;
    display: none;
}