body{
    background-color: #010114;
    color: #fff;
}

.presentation-about__container{
    height: 100vh;
    display: flex;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

.presentation{
    width: 45%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; 
}

.about::-webkit-scrollbar{
    width: 0;
    display: none;
}