.contact{
    height: 90%;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact:hover .section__title{
    color: #4e7cfc;
    transition: 0.3s ease;
}

.form__container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 60%;
}

.input__container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
    color: #4e7cfc;
}

input{
    width: 100%;
    padding: 0px 12px;
    height: 40px;
    color: #fff;
    background-color: transparent;
    border: 1px #213670 solid;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
}

input:focus{
    transition: 0.3s ease;
    border: 1px #4e7cfc solid;
}

textarea{
    width: 100%;
    padding: 12px 12px;
    color: #fff;
    background-color: transparent;
    border: 1px #213670 solid;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s ease;
}

textarea:focus{
    transition: 0.3 ease;
    border: 1px #4e7cfc solid;
}

.send{
    border: none;
    border-radius: 8px;
    background-color: #213670;
    height: 50px;
    width: 100px;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.send:hover{
    transition: 0.3s ease;
    color: #fff;
    background-color: #4e7cfc;

}